
@font-face {
font-family: "OpenSans-Regular"; 
src: url("../fonts/OpenSans-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

@font-face {
font-family: "BebasNeue-Regular"; 
src: url("../fonts/BebasNeue-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 


@font-face {
font-family: "Lato-Regular";  
src: url("../fonts/Lato-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

@font-face { 
font-family: "Lobster-Regular";
src: url("../fonts/Lobster-Regular.ttf") format("truetype"); 
font-style: normal; 
font-weight: normal; 
} 

.text-box{
	padding-top: 2rem;
}
.result {
	margin-bottom: 0;
	margin-top: 3rem;
}
.fonts {
	font-size: 2rem;
	text-align: center;
	padding: 2rem;
}
small {
	font-size: 1.3rem;
}

.Open-Sans {
	font-family: "OpenSans-Regular", sans-serif;
}

.Bebas {
	font-family: "BebasNeue-Regular", cursive;
}

.Lato {
	font-family: "Lato-Regular", sans-serif;
}

.Lobster {
	font-family: "Lobster-Regular", cursive;
}

.infobox {
	padding: 10px;
	width: 700px;
	margin: 20px auto;
	background: #aaa;
}

.cod {
	display: inline-block;
	background: #ddd;
}
